<div id="post-container">
    <img id="image-post-image" src="/{{currentPost.photopath}}">
    <div id="info-message-grid">
        <div id="info">
            <header id="image-post-title">
                <h2 id="image-post-title-text">Title: {{currentPost.title}}</h2>
            </header>
            <div id="image-post-author" class="info-tags">User name: {{currentPost.username}}</div>
            <div id="image-post-date" class="info-tags">Time post created: {{currentPost.created}}</div>
            <div id="image-post-desc" class="info-tags">Description: {{currentPost.description}}</div>
        </div>
{{#if logged}}
        <div id="messages">
            <div id="comment-title">
                <header>
                    <h2>Comments</h2>
                </header>
                <div id="message-list">

                </div>
                <div id="comment-box">
                <textarea id="comment-box-text"></textarea><br>
                    <button id="comment-box-button" >Comment
                        <i id="comment-box-button" class="fa fa-comment" aria-hidden="true" style="text-align: center;font-size:20px"></i>
                    </button>
                 </div>
             </div>
        </div>
{{/if}}
    </div>
</div>
