
<div id="main-content">
    {{#each results}}
        <div id="post-{{id}}" class="card">
            <img class="card-image" src="{{thumbnail}}" alt="Missing Image">
            <div class="card-body">
                <p class="card-title">Title: {{title}}</p>
                <p class="card-text">Description: {{description}}</p>
                <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
            </div>
        </div>
    {{/each}}
</div>